 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 675px;
}

.u-section-1 .u-image-1 {
  width: 540px;
  height: 304px;
  margin: 219px auto 0;
}

.u-section-1 .u-text-1 {
  margin: -322px auto 60px;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -349px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 562px;
  }

  .u-section-1 .u-image-1 {
    height: 191px;
    margin-top: 206px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: -248px;
  }
}
